.App {
  font-family: Frutiger, sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background: hsl(209, 100%, 36%);
  color: #fff;
  padding: 25px 15px 0px;
}
header h1 {
  color: #fff;
  font-size: 48px;
  font-weight: 500;
  text-align: center;
  padding: 0px 0px 25px 0px; 
}

main {
  width: 100%;
  max-width: 1080px;
  margin: 0 auto;
  background: #fff;
}

.logo {
  padding: 10px 0;
  color: #fff;
  margin: 0 auto;
}

.text {
  padding: 0px 25px 0px 25px; 
}

.footer{
  width: 100%;
  position: absolute;
  bottom: 0px;
}
.nhs {
  width: 360px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 40px 0px 40px 0px; 

}

.cards {
  display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
  justify-content: center;
}
.cards .card {
	width: 30%;
	min-width: 250px;
	padding: 15px;
	display: flex;
	flex-direction: column;
  margin: 10px;
}
.cards .card .cardTitle {
  font-weight: bold;
}