.App {
  text-align: left;
  font-family: Frutiger, sans-serif;
}
header {
  background-color: #005EB8;
}
header h1 {
  color: #fff;
  padding-left: 40px;
  padding-bottom: 30px;
}

body {
  padding-left: 25px;
  padding-right: 25px;
}



@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
